body {
  font-family: 'Roboto', sans-serif;
  background: #f5f5fa;
}
.navbar {
  background: linear-gradient(111deg, #0a89da 0%, #0fc0db 100%);
}

.cardBg {
  background: linear-gradient(to bottom, #0a8bd9, #0caac5);
}
.card1 {
  min-height: 500px;
}
.most-popular {
  display: inline-block;
  border-radius: 13.5px;
  background: rgb(14, 179, 220);
  font-size: 10px;
  padding: 10px 1rem;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 8px;
}

.text-lightBlue {
  color: #0b91dc;
}
.hover-effect {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.hover-effect:hover {
  transform: translateY(-45px) scale(1.02);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.cardBtn {
  width: 100%;
  padding: 12px;
  color: #0b91dc;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.cardBtn:hover {
  opacity: 0.8; /* Change background color on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-6px);
}

#footer {
  background: linear-gradient(90deg, #053f64, #04687f);
  margin-top: 48px;
}

.footer-heading {
  font-size: 2.4rem;

  font-weight: 600;
  margin-top: 32px;

  @media (max-width: 776px) {
    font-size: 1.2rem;
  }
}

.footer-paragraph {
  font-size: 14px;
  margin-top: 20px;
}

.contact-us-btn {
  border: 1px solid #5be6fc !important;
  background: linear-gradient(90deg, #0a89da, #0fc0db);
  line-height: 1.75;
  font-size: 1rem;
  padding: 10px 20px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  transition: all 0.3s;

  @media (max-width: 776px) {
    font-size: 0.85rem;
    padding: 8px 14px;
  }
}

.contact-us-btn:hover {
  opacity: 0.8;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

.footer-link,
.footer-text {
  color: #cddce2;
  text-decoration: none;
  font-size: 14px;
}

.footer-link:hover {
  color: white;
  text-decoration: underline;
}

.footer-icon {
  border-radius: 100px;
  border: 1px solid #5be6fc !important;
  background: linear-gradient(90deg, #0a89da, #0fc0db);
  color: white;
  padding: 10px;
  width: 42px;
  height: 42px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.logo {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 100%;
  border: 2px solid #fff;
  padding: 0px;
  background: #fff;
}

.logo-sm {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 100%;
  border: 2px solid #fff;
  padding: 0px;
  background: #fff;
}

.bg-menu {
  background-color: #1461b8;
}

/* Form */
.form-card {
  background-color: rgb(13, 159, 221);
}

.text-light {
  color: #cddce2;
  font-size: 14px;
}

.form-text-header {
  background-color: rgb(13, 159, 221);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  padding: 8px 0;
}

.requiredText {
  color: red;
  font-size: 10px;
}

.termsAndServiceBtn {
  background-color: #1976d2;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  padding: 8px 12px;

  border: none;
  color: white;
}

/* Custom File Input */

.custom-file-input {
  color: transparent;
  cursor: pointer;
  width: 100px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Upload';
  display: inline-block;
  background: #1976d2;
  color: #fff;
  border: 1px solid #1976d2;
  border-radius: 5px;
  padding: 8px 16px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 500;
}

.custom-file-input:hover::before {
  border-color: #0056b3;
}

.custom-file-input:active::before {
  background: #0056b3;
}

/* Stepper */

.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}
.step-title {
  font-size: 12px;
  margin-top: 5px;
  text-transform: uppercase;
  color: #222222;

  @media (max-width: 768px) {
    font-size: 6px;
  }
}
.step-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #f5f5fa;
  transition: 0.4s;

  @media (max-width: 768px) {
    width: 40px;
    height: 40px;
    font-size: 8px;
  }
}
.step-button[aria-expanded='true'] {
  width: 60px;
  height: 60px;
  background-color: #0a89da;
  color: #fff;

  @media (max-width: 768px) {
    width: 50px;
    height: 50px;
    font-size: 8px;
  }
}
.done {
  background-color: #0a89da;
  color: #fff;
}
.step-item {
  z-index: 10;
  text-align: center;
}
#progress {
  -webkit-appearance: none;
  position: absolute;
  width: 95%;
  z-index: 5;
  height: 10px;
  margin-left: 18px;
  margin-bottom: 18px;
}
/* to customize progress bar */
#progress::-webkit-progress-value {
  background-color: #0a89da;
  transition: 0.5s ease;
}
#progress::-webkit-progress-bar {
  background-color: #f5f5fa;
}
